@import './vars.scss';

.article {
  main {
    width: $width;
    margin: 5% auto;
    min-height: 46vh;
    background-color: white;
    padding-top: 2%;

    p {
      font-size: 0.8rem;
    }
  }

  .img {
    height: 29vh;
    background: no-repeat;
    background-size: 100%;
    display: block;
  }

}

.article__header {
  padding: 6% $padding;
  padding-bottom: 1%;
  height: 3.4rem;
  border-bottom: 1px #E5E5E5 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;

  h1 {
    font-weight: 400;
    font-size: 1rem;
    margin-right: auto;
  }

  i {
    color: $accent;
    margin-right: auto;
  }
}
