@import './vars.scss';

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app,
.page {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: $primary;
  font-size: 100%;
  background-color: white;
  overflow: hidden;
  font-weight: 300;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90vh 10vh;
  max-height: 100%;

}

.app__nav {
  padding: 1% $padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99999;
  background-color: white;
  border-top: 1px #E5E5E5 solid;
}

.nav__link {
  color: $primary;
  text-decoration: none;
  text-align: center;
  font-size: 0.6rem;
}

.nav__link.active {
  color: $accent;
}

.mainHeader {
  padding: 6% $padding;
  padding-bottom: 1%;
  height: 3.4rem;
  border-bottom: 1px #E5E5E5 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  width: 100%;

  h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.router {
  overflow-y: scroll;
  height: 90vh;
  position: fixed;
  margin-top: 2.3vh;

}

.spacer {
  height: 3.5rem;
}
